*{
    font-family: 'Varela Round', sans-serif !important;
}
.card-prepost {
    display: flex;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.687);
    // border-radius: 80px; 
    width: 32rem;;
    // flex-direction: row;
    // align-items: center;
}

.content-card {
    margin: 1rem;
}

.title-card {

}

.parrafo-card {
    margin-top: 15%;
    margin-bottom: -20%;
    // padding: 15px 0 0 0;
}

/*Card*/

.section-prepost {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }
  
  .left-arrow {
    margin-left: -130px !important;
    margin-right: 50px !important;
  }
  
  .right-arrow {
    margin-right: -130px !important; 
    margin-left: 50px !important;
  }
  
  
  
  
  
  