*{
    font-family: 'Varela Round', sans-serif !important;
}

/*Card*/
.section-prepost {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }
  
  .left-arrow {
    margin-left: -130px !important;
    margin-right: 50px !important;
  }
  
  .right-arrow {
    margin-right: -130px !important; 
    margin-left: 50px !important;
  }
  
  
  
  
  
  