// .custom-card {
//     margin: 16px;
//   }

.register-form {
  max-height: 85vh;
  overflow-y: auto;
  padding: 1rem 0 1rem 0;
  display: flex;
  
}

.register-form-container {
  width: 100%;
  height: 100%;
}

.card-register {
  height: 93vh;
  width: 80vh;
  position: absolute;
}

.parrafo-card {
  // margin-top: 15%;
  // margin-bottom: -20%;
}

@media (max-height: 800px) {
  .form-container {
    margin-top: 13rem;
    margin-bottom: 3rem;
  }

  .css-jpln7h-MuiTabs-scroller .MuiTab-root {
    margin: 1px; /* Ajusta el margen como desees */
    font-size: 12px; /* Ajusta el tamaño de fuente como desees */
  }


}

// @media (max-width: 827px) {
//   .card-register {
//     height: auto;
//   }
// }
