@import "vars";

.nav-profile {
	height: 60px;
	// background: $fondo-sections;
    // background-color: aqua;
    background-color: white;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}

.fingerprint  {
    margin-left: auto;
    padding: 1rem;
}
// #content nav .bx.bx-menu {
// 	cursor: pointer;
// 	color: $color-letraboldD;
// }
// #content nav .nav-link {
// 	font-size: 16px;
// 	transition: 0.3s ease;
// }
// #content nav .nav-link:hover {
// 	// color: var(--blue);
// }

#content nav .zone-back {
	margin-right: auto;
}

.logobffinder {
    width: 155px;
    height: 65px;
}

// .fondo {
//     background-color: #000;
//     opacity: 0.3;
// }