@import "vars";

#content main {
	background-color: $cafe-oscuro-p;
	overflow-y: auto;
}

#content main .main-content-post {
	flex-grow: 1;
	padding: 36px 24px;
	width: 100%;
	margin: 0 auto;
  	max-width: 1200px; 
  	// background-color: white;
}